<div class="card fi" id="sobre">
  <div class="inav">
    <a href="#sobre" class="cur">Sobre Nosotros</a>
    <a href="#cursos">Cursos</a>
    <a href="#tramites">Trámites</a>
    <a href="#contacto">Contacto</a>
  </div>
  <div class="sobre-body">
    <img class="sobre-logo" src="/images/NOVOWINDS-07.png" alt="Logo de Novowinds" />
    <p class="sobre-p">Acompañamos a pilotos con licencia PPL en su transición hacia la obtención de la licencia CPL bajo normativa EASA en España.</p>
    <p class="sobre-p">Ofrecemos un servicio integral y personalizado, adaptado a las necesidades de cada alumno, para facilitar una progresión eficiente, segura y alineada con los estándares europeos de aviación.</p>
    <p class="sobre-p">Nuestro objetivo es que cada piloto avance con confianza hacia su carrera profesional en la aviación comercial, con formación de calidad, asesoramiento continuo y un entorno de aprendizaje totalmente profesional.</p>
  </div>
</div>
